@{
    ViewData["Title"] = "𝓐𝓵𝓮𝓻𝓽𝓪 𝓓𝓮 𝓒𝓸𝓷𝓽𝓪𝓶𝓲𝓷𝓪𝓬𝓲ó𝓷";
}
<h1>@ViewData["Title"]</h1>
<!-- Sección de banderas -->
<div class="flag-container">
    <div class="flag green">
        <div class="text">Verde<br>Bueno</div>
    </div>
    <div class="flag yellow">
        <div class="text">Amarillo<br>Moderado</div>
    </div>
    <div class="flag orange">
        <div class="text">Naranja<br>Insalubre para grupos sensibles</div>
    </div>
    <div class="flag red">
        <div class="text">Rojo<br>Insalubre para todos</div>
    </div>
    <div class="flag purple">
        <div class="text">Morado<br>Muy insalubre</div>
    </div>
</div>
